ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline-block; /* Cambia de "inline" a "inline-block" */
  position: relative;
}

  
  li p {
    position: absolute;
    top: 0%; /* Ajusta este valor para mover el texto arriba o abajo */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
  
  

img {
  margin-top: -16px;
  margin-right: 10px; /* Espacio a la derecha de la imagen */
  margin-left: 10px; /* Espacio a la izquierda de la imagen */
}

/* Main container */

.main-container {
    width: 100%; /* Ocupa el 100% del ancho de la pantalla */
    height: 50vh; /* Ocupa el 50% de la altura de la pantalla */
    margin: 50px auto;
  }
  

/* Slider container */
.slider-container {
  position: relative;
  height: 100%
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}
